/*var*/

//
//@brand-primary:         darken(#428bca, 6.5%); // #337ab7
//@brand-success:         #5cb85c;
//@brand-info:            #5bc0de;
//@brand-warning:         #f0ad4e;
//@brand-danger:          #d9534f;

$font-family:"微软雅黑","宋体","Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-color:#333 !default;
$font-size:12px !default;
$bg-color:#f7f7f7 !default;

$text-default: #8e8e8e; // 默认
$text-primary: #2d80f6; // 选中
$text-info : #5bc0de; // 信息
$text-success: #5cb85c; // 警告 
$text-warning: #f0ad4e; // 警告   
$text-danger : #f05a00; // 危险 



