/* 隐藏滚动条*/


/*webkit内核*/

.no-scroll-bar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.no-scroll-bar::-webkit-scrollbar-button {
    background-color: rgba(0, 0, 0, 0);
}

.no-scroll-bar::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.no-scroll-bar::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
}

.no-scroll-bar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
}

.no-scroll-bar::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0);
}

.no-scroll-bar::-webkit-scrollbar-resizer {
    background-color: rgba(0, 0, 0, 0);
}


/*o内核*/

.no-scroll-bar .-o-scrollbar {
    -moz-appearance: none !important;
    background: rgba(0, 255, 0, 0) !important;
}

.no-scroll-bar::-o-scrollbar-button {
    background-color: rgba(0, 0, 0, 0);
}

.no-scroll-bar::-o-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.no-scroll-bar::-o-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
}

.no-scroll-bar::-o-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
}

.no-scroll-bar::-o-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0);
}

.no-scroll-bar::-o-scrollbar-resizer {
    background-color: rgba(0, 0, 0, 0);
}


/*moz*/

.no-scroll-bar -moz-scrollbar {
    -moz-appearance: none !important;
    background: rgba(0, 255, 0, 0) !important;
}

.no-scroll-bar::-moz-scrollbar-button {
    background-color: rgba(0, 0, 0, 0);
}

.no-scroll-bar::-moz-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.no-scroll-bar::-moz-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
}

.no-scroll-bar::-moz-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
}

.no-scroll-bar::-moz-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0);
}

.no-scroll-bar::-moz-scrollbar-resizer {
    background-color: rgba(0, 0, 0, 0);
}


/*IE10,IE11,IE12*/

.no-scroll-bar {
    -ms-scroll-chaining: chained;
    -ms-overflow-style: none;
    -ms-content-zooming: zoom;
    -ms-scroll-rails: none;
    -ms-content-zoom-limit-min: 100%;
    -ms-content-zoom-limit-max: 500%;
    -ms-scroll-snap-type: proximity;
    -ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);
    -ms-overflow-style: none;
    overflow: auto;
}

/*-moz-
 引用browser.js
        <div class="no-scroll-box">
            <div class="no-scroll-bar">
                
            </div>
           <div class="scroll-slide">
               <div class="scroll-bar"></div>
             </div>
        </div>
 * */

.no-scroll-box {
    position: relative;
    width: 100%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
  
}

.no-scroll-bar {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.no-scroll-box  .scroll-slide{
    position: absolute !important;
    top: 0;
    right: 0;
    z-index: 999;
   
}
