.alert {
    height: 72px;
    width: 426px;
    padding: 0;
    text-align: center;
    border-radius: 40px;
    >* {
        vertical-align: middle;
    }
    img {
        width: 70px;
        height: 70px;
    }
    ._tip {
        font-size: 24px;
        color: #fff;
    }
}