.answer {
    .pattern-ttl1 {
        position: relative;
        height: 40px;
        left: -1px;
        margin-bottom: -2px;
        cursor: pointer;
        /*btn1*/
        ._btn-list,
        ._btn-two ,
        ._btn-three{
            height: 40px;
            line-height: 40px;
            display: block;
            float: left;
        }
      
        ._btn-list {
            width: 118px;
            height: 40px;
            background: url(../images/pattern/btn-list.png) no-repeat center center;
            background-size: 118px 40px;
            color: #71727E;
            padding-left: 10px;
            &.active {
                background: url(../images/pattern/btn-list2.png) no-repeat center center;
                background-size: 118px 40px;
                color: #fff;
            }
        }
        ._wendattl {
            position: absolute;
         
            width: 181px;
            background: url(../images/pattern/btn-two.png) no-repeat center center;
            background-size: 181px 40px;
            color: #71727E;
         
       
            &.active {
                background: url(../images/pattern/btn-two2.png) no-repeat center center;
                color: #fff;
                background-size: 181px 36px;
            }
        }
        
        
        
        ._btn-two{
              left: 72px;
             padding-left: 60px;
             text-align: left;
        }
          ._btn-three{
              left: 216px;
                 text-align: center;
        }
   

   
   
    }
}