/*管理index頁*/

.index {
    height: 100%;
}

.index-box {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
}


/*左邊caidan*/

.index-aside {
    width: 236px;
    height: 100%;
    color: white;
    background: $index-bg;
}


/*logo*/

.index-aside-logo {
    padding: 11px 27px 16px 27px;
    img {
        width: 145px;
    }
}


/*侧边菜单*/

.index-aside-nemu {
    padding-left: 5px;
    display: flex;
    ._nemu-1 {
        >div {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            width: 85px;
            height: 84px;
            margin-bottom: 10px;
            cursor: pointer;
            &.active {
                border-left: 5px solid #fff;
                background: $text-primary;
                transition: all .5s;
                box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
                span {
                    color: #fff;
                }
            }
            >img {
                width: 46px;
                height: 46px;
                margin-bottom: 5px;
            }
            >span {
                display: block;
                font-size: 13px;
                color: #8390A4;
                line-height: 19px;
            }
        }
    }
    ._nemu-2 {
        //      margin-left: 5px;
        flex: 1;
        ._nemu-item {
            transition: all .5s;
            dl>dd {
                display: none;
            }
            dt {
                padding-left: 10px;
                padding-top: 10px;
                font-size: 14px;
                font-family: PingFangSC-Regular;
                font-weight: 400;
                color: rgba(131, 144, 164, 1);
                line-height: 19px;
                cursor: pointer;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                vertical-align: middle;
                .iconfont {
                    font-size: 18px;
                    margin-right: 5px;
                }
                >img {
                    width: 22px;
                    height: 22px;
                }
                >img.active {
                    display: none;
                }
                >a {
                    color: rgba(131, 144, 164, 1);
                }
                >* {
                    vertical-align: middle;
                }
            }
            &.active {
                background: #3F4151;
                dt {
                    color: #fff;
                    font-size: 14px;
                    transition: all .5s;
                    .iconfont {
                        font-size: 22px;
                        margin-right: 5px;
                        font-weight: 400;
                    }
                    >a {
                        color: #fff;
                    }
                }
                img.df {
                    display: none;
                }
                img.active {
                    display: inline-block;
                }
            }
            // 三级列表
            &.active {
                dd {
                    display: block;
                    margin-left: 35px;
                    margin-top: 10px;
                    padding: 5px;
                    font-size: 12px;
                    text-align: left;
                    color: #777;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    transition: all .5s;
                    a {
                        color: #999;
                        font-size: 12px;
                    }
                    img.active {
                            display: none;
                     }
                     img.df {
                            display: inline-block;
                        }
                    .iconfont {
                        font-size: 16px;
                        margin-right: 3px;
                    }
                    &.active {
                        color: #f8f8f8;
                        background: $text-primary;
                        >a {
                            color: #f8f8f8;
                        }
                        img.df {
                            display: none;
                        }
                        img.active {
                            display: inline-block;
                        }
                    }
                    
                    >* {
                        vertical-align: middle;
                    }
                }
            }
            //         &:hover{
            //             background: #3F4151;
            //          }  
        }
        ._nemu-item+._nemu-item {
            //          margin-top: 10px;
        }
    }
}


/*右边*/

.index-cont {
    position: relative;
    flex: 1;
    display: flex;
    flex-flow: column;
    border-left: 1px solid #333;
}

.index-cont-top {
    width: 100%;
    height: 60px;
    flex-basis: 60px;
    background: $index-bg;
    color: #fff;
    line-height: 00px;
    // 搜索框
    >div {
        position: relative;
        top: 13px;
        height: 34px;
        line-height: 34px;
        margin-right: 40px;
        .txt.form-control {
            //          padding: 6px 10px;
            padding-left: 40px;
            width: 200px;
            //          height: 34px;  
            border: 1px solid #ddd;
            border-radius: 15px;
            background: transparent;
            color: #fff;
        }
        .iconfont.icon-sousuo {
            position: absolute;
            top: 2px;
            left: 10px;
            font-size: 24px;
            color: #f8f8f8;
            cursor: pointer;
        }
        input::-webkit-input-placeholder {
            color: #ccc;
            padding: 6px 10px;
        }
        /*IE10+*/
        input:-ms-input-placeholder {
            color: #ccc;
            padding: 6px 10px;
        }
        /*Firefox4-18*/
        input:-moz-placeholder {
            color: #ccc;
            padding: 6px 10px;
        }
        /*Firefox19+*/
        input::-moz-placeholder {
            color: #ccc;
            padding: 6px 10px;
        }
    }
    .icon-user,
    .icon-639 {
        font-size: 24px;
        cursor: pointer;
    }
    ._list {
        margin-right: 50px;
    }
    .icon-639 {
        .tooltip {
            width: 100px;
        }
    }
    /*用户点击下拉菜单*/
    .icon-user {
        padding-right: 30px;
        padding-left: 30px;
    }
    .dropdown-menu {
        min-width: 88px;
        top: 126%;
        .glyphicon {
            margin-right: 5px;
        }
    }
    /*用户名称*/
    ._admin-ttl {
        position: absolute;
        top: 20px;
        z-index: 999;
        width: 100%;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;
    }
}


/*导航*/

.index-nav {
    display: flex;
    height: 45px;
    background: #3F4151;
}


/*iframe*/

.index-cont-iframe {
    flex: 1;
    overflow: auto;
}


/*下面导航*/

.index-bottom-nav {
    //  position: absolute;
    //  bottom: 0;
    //  left: 50%;
    //  margin-left:4 ;
    //  width: 846px;
    //  height: 64px;
    //  background: url(../images/index-nav.png) no-repeat  center center;
    //  background-size:100% 100% ;
}