/*
 * 模式管理
 * 
 */

.pattern {
    position: relative;
   
}

.pattern-bg {
   // height: 100%;
}

.pattern-box {
    position: absolute;
    width: auto;
    top: 100px;
    left: 8%;
    right: 8%;
    z-index: 999;
}


/*tab 择项卡*/

.pattern-ttl {
    position: relative;
    width: 100%;
}

.pattern-ttl1 {
    position: relative;
    height: 40px;
    left: -1px;
    margin-bottom: -2px;
    /*btn1*/
    ._btn-list,
    ._btn-two {
        height: 40px;
        line-height: 40px;
        display: block;
        float: left;
    }
    ._btn-list {
        width: 118px;
        height: 40px;
        background: url(../images/pattern/btn-list.png) no-repeat center center;
        background-size: 118px 40px;
        color: #71727E;
        padding-left: 10px;
        &.active {
            background: url(../images/pattern/btn-list2.png) no-repeat center center;
            background-size: 118px 40px;
            color: #fff;
        }
    }
    ._btn-two {
        position: absolute;
        left: 68px;
        width: 261px;
        background: url(../images/pattern/btn-two.png) no-repeat center center;
        background-size: 261px 40px;
        color: #71727E;
        text-align: center;
        &.active {
            background: url(../images/pattern/btn-two2.png) no-repeat center center;
            color: #fff;
            background-size: 256px 36px;
        }
    }
}

.pattern-ttl2 {
    position: relative;
    //  left: 300px;
    width: 223px;
    height: 30px;
    line-height: 30px;
    right: 5px;
    background: rgba(244, 244, 252, 1);
    border-radius: 15px;
    ._btn1,
    ._btn2,
    ._btn3 {
        position: absolute;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        background: rgba(244, 244, 252, 1);
        border: 1px solid rgba(219, 227, 248, 1);
        border-radius: 13px;
        color: #777;
        font-size: 13px;
        letter-spacing: 1px;
        text-align: center;
        transition: all .5s;
        .iconfont {
            font-size: 20px;
            padding: 0;
            margin: 0;
            color: #777;
            margin-right: -5px;
            margin-left: 0px;
        }
        >* {
            vertical-align: top;
        }
        &.active {
            background: $text-primary;
            color: #fff;
            .iconfont {
                color: #fff;
            }
        }
    }
    ._btn1 {
        z-index: 3;
        width: 121px;
        color: #777;
    }
    ._btn2 {
        left: 103px;
        z-index: 2;
        width: 70px;
    }
    ._btn3 {
        left: 153px;
        z-index: 1;
        width: 70px;
    }
}


/*table*/

.table-big {
    height: 100px;
    overflow-y: scroll;
}

.pattern-table.table {
    position: relative;
    top: -3px;
    thead th {
        border-bottom: none;
        color: #777;
        background: #fff;
    }
    thead th:last-child {
        border-radius: 0 8px 0 0;
    }
    thead tr:nth-child(1) {
        th {
            padding: 10px 20px !important;
            background: rgb(244, 244, 252);
            font-weight: 600;
        }
    }
    tbody {}
    tbody tr td {
        padding: 6px 20px;
        height: 30px;
        line-height: 30px;
        color: #777;
        background: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        >* {
            vertical-align: middle;
        }
    }
    tbody tr:last-child {
        td:last-child {
            border-radius: 0 0 8px 0;
        }
        td:first-child {
            border-radius: 0 0 0 8px;
        }
    }
    /*checkbox*/
    img {
        width: 23px;
        height: 23px;
        cursor: pointer;
    }
    img.df {}
    img.active {
        //display: none;
    }
    .btn.btn-default.btn-sm {
        background: rgb(244, 244, 252);
        border: 1px solid rgb(244, 244, 252);
        color: #777;
        &:hover {
            background: darken(rgb(244, 244, 252), 2%);
        }
    }
    td .btn+.btn {
        margin-left: 5px;
    }
}


/*submit btn*/

.pattern-submit {
    margin-top: 30px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    .btn {
        padding: 0;
        width: 211px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        font-size: 19px;
        border-radius: 15px;
    }
}


/*admin-pattern-overview 场景总览*/

.pattern-box.pattern-overview {
    
    
    .pattern-ttl2 {
        right: -140px;
        float: right !important;
        width: 173px;
    }
}

.pattern-overview .pattern-ttl3 {
    position: relative;
    float: right;
    right: 230px;
    ._ck-ttl {
        display: block;
        height: 26px;
        line-height: 26px;
        float: left;
        margin-right: 10px;
        cursor: pointer;
    }
    ._ck {
        position: relative;
        display: block;
        float: left;
        width: 53px;
        height: 26px;
        padding: 1px 2px;
        background: #fff;
        border-radius: 15px;
        cursor: pointer;
        &.active {
            background: $text-primary;
            color: #fff;
        }
        ._ck-hd {
            position: absolute;
            left: 2px;
            width: 23px;
            height: 23px;
            border-radius: 50%;
            background: #fff;
            border: 1px solid #ddd;
            transition: all .5s;
        }
        &.active ._ck-hd {
            left: 28px;
        }
    }
}