/*密碼*/


/*修改密碼*/

.pwdedit {
    height: 100%;
}

.pwdeidt-form {
    position: relative;
    top: 100px;
    width: 350px;
    min-height: 400px;
    padding: 20px;
    top: 200px;
    min-height: 500px;
    margin: 0 auto;
    //  background: #fff;
    ._label,
    ._input {
        margin: 0;
        float: left;
    }
    ._label {
        display: block;
        width: 95px;
        height: 36px;
        line-height: 36px;
        font-size: 19px;
        font-weight: 400;
        color: rgba(128, 132, 141, 1);
        vertical-align: middle;
    }
    ._input {
        position: relative;
        vertical-align: middle;
        height: 36px;
        line-height: 36px;
        input {
            width: 211px;
            height: 36px;
            padding: 6px 12px;
            padding-left: 45px;
            line-height: 20px;
            border: 1px solid rgba(70, 124, 195, 1);
            border-radius: 18px;
            font-size: 16px;
            background: transparent;
        }
    }
    .iconfont {
        position: absolute;
        left: 14px;
        top: 1px;
        color: #467CC3;
        font-size: 24px;
    }
    .form-group {
        margin-bottom: 20px;
    }
    input::-webkit-input-placeholder {
        font-size: 16px;
    }
    /*IE10+*/
    input:-ms-input-placeholder {
        font-size: 16px;
    }
    /*Firefox4-18*/
    input:-moz-placeholder {
        font-size: 16px;
    }
    /*Firefox19+*/
    input::-moz-placeholder {
        font-size: 16px;
    }
    ._submit {
        margin-left: 90px;
        width: 211px;
        .btn {
            height: 36px;
            font-size: 19px;
            padding: 0;
            text-align: center;
            line-height: 36px;
        }
    }
}


/*忘记密码*/

.pwdeidt-forget {
    .pop-box {
        background: #f4f4fc;
    }
    ._ttl {
        margin: 0;
        margin-bottom: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 22px;
        width: 100%;
        text-align: center;
        color: rgba(51, 61, 79, 1);
        background: #dfdfe8;
        border-bottom: 1px solid $text-primary;
        border-radius: 5px 5px 0 0;
    }
    .pop-box-gp {
        margin: 0 146px;
        input[type=text] {
            width: 211px;
            height: 35px;
            padding-left: 20px;
            border: 1px solid rgba(70, 124, 195, 1);
            border-radius: 18px;
            &.active {
                background: $text-primary;
                color: #fff;
            }
        }
        &._submit {
            margin-top: 20px !important;
            .btn {
                border-radius: 15px;
                width: 62px;
                &+.btn {
                    margin-left: 20px;
                }
            }
        }
    }
    .pwdeidt-forget-alert {
        width: 100%;
        text-align: center;
        p {
            font-size: 16px;
            font-family: PingFangSC-Regular;
            font-weight: 400;
            color: rgba(51, 61, 79, 1);
            line-height: 30px;
        }
    }
}