/*
 状态管理
 
 * */

.status {
    width: 900px;
    height: 100%;
    margin: 0 auto;
    //  border: 1px solid  #ccc;
    margin-top: 120px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
}
.status-bg{
    height: 100%;
}
.status-item {
    position: relative;
    width: 200px;
    height: 160px;
    background: #fff;
    margin-top: 20px;
    overflow: hidden;
}

.status-ttl {
    margin: 0;
    padding: 0;
    height: 34px;
    line-height: 34px;
    padding-left: 10px;
    background: #f4f4fc;
    font-size: 13px;
    color: #777;
}

.status-cont {
    height: 124px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        transition: all .8s;
    }
}

.status-det {
    position: absolute;
    z-index: 99;
    top: 34px;
    left: -295px;
    width: 100%;
    height: 124px;
    padding-left: 20px;
    transition: all .8s;
    background: rgba(255, 255, 255, .8);
    li {
        margin-top: 3px;
        color: #777;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.status-item:hover .status-det {
    left: 0px;
    
    img{
        transform: rotateX(180deg);
    }
}

.status-item:hover  img{
  
        transform: rotateY(360deg);
    
}

@media (min-width:1360px){
    
    .status {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    //  border: 1px solid  #ccc;
    margin-top: 120px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
}

.status-item {
    position: relative;
    width: 251px;
    height: 209px;
    background: #fff;
    margin-top: 40px;
    overflow: hidden;
}

.status-ttl {
    margin: 0;
    padding: 0;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    background: #f4f4fc;
    font-size: 15px;
    color: #777;
}

.status-cont {
    height: 169px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {}
}

.status-det {
    position: absolute;
    z-index: 99;
    top: 40px;
    left: -295px;
    width: 100%;
    height: 169px;
    padding-left: 20px;
    transition: all .8s;
    background: rgba(255, 255, 255, .8);
   
    li {
        margin-top: 10px;
        color: #777;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.status-item:hover .status-det {
    left: 0px;
}
}
