/*
 状态管理-详情
 
 * */

.statusdtl-bg {
    height: 100%;
    background: url(../images/status/detail@3x.png) no-repeat center center;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.statusdtl {
    height: 100%;
}

.statusdtl-cont {
    position: relative;
//  height: 800px;
    //  background: url(../images/status/detail3.png) no-repeat 405px 87px, url(../../../images/status/detail1.png) no-repeat 92px 150px;
    //background-size: auto, auto;
}

.statusdtl-img {
    position: relative;
    top: 157px;
    left: 92px;
    ._img1 {
        position: absolute;
        width: 411px;
    }
    ._img2 {
        position: absolute;
        width: 352px;
        top: 30px;
        left: 313px;
    }
}

.statusdtl-box {
    position: absolute;
    z-index: 99;
    top: 56px;
    left: 377px;
    li {
        margin-bottom: 5px;
        color: #7371FD;
        label {
            font-size: 16px;
            font-weight: 400;
        }
        span {
            font-size: 14px;
        }
    }
}