<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
		<meta name="Keywords" content="" />
		<meta name="Description" content="" />
		<title>模式管理-场景总览</title>

		<!--check css-->
		<script src="js/modernizr-2.6.2.min.js" type="text/javascript" charset="utf-8"></script>
		<!--css3 prefix-->
		<script src="js/prefix-css3.min.js" type="text/javascript" charset="utf-8"></script>

		<link rel="stylesheet" type="text/css" href="css/cstFonts/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="./css/build.css" />

	</head>

	<body class="pattern-bg no-scroll-bar">
		<div class="pattern">

			<div class="pattern-box  pattern-overview app">

				<div class="pattern-ttl clearfix">
					<div class="pattern-ttl1 clearfix pull-left">
						<a class="_btn-list active" href="javascript:;">场景总览</a>
					</div>

					<!--使用模式 checkbox-->
					<div class="pattern-ttl3 clearfix">

						<div class="_ck-ttl">使用场景模式</div>
						<div class="_ck">
							<div class="_ck-hd">
							</div>
						</div>

					</div>

					<div class="pattern-ttl2 clearfix pull-right ">
						<a class="_btn1 " href="javascript:;"><span class="iconfont icon-jia1"></span>
							<span>创建新场景</span>
						</a>
						<a class="_btn2" href="javascript:;">删除</a>

					</div>
				</div>
				<!--tab1-->
				<div class="pattern-tab scroll-bar-box">
					<!--固定头部-->
					<table class="pattern-table table  table-bordered  table-fixed ">
						<thead>
							<tr class="list-item">
								<th class="table-1 text-center">
									选择
								</th>
								<th class="table-1 text-center">
									序号
								</th>

								<th class="table-4 text-center">
									场景模式
								</th>
								
								<th class="table-4 text-center">
									操作
								</th>
								
							</tr>
						</thead>
					</table>
					<div class="pattern-scroll no-scroll-bar">

						<!--滚动内容-->
						<table class="pattern-table table  table-bordered  table-fixed ">

							<tbody>
								<tr v-for="item in list ">
									<td class="table-1 text-center" >
										<img  class="active" src="images/pattern/ck-ok.png" alt="" />
									<!--	<img v-if="!item.ck" class="default" src="images/pattern/ck.png" alt="" />-->
									</td>
									<td class="table-1 text-center">
										1
									</td>
									<td class="table-4 text-center">
										1

									</td>
									
									<td class="table-4 text-center">
										<a href="javascript:;" class="btn btn-sm btn-primary rd">编辑</a>
										<a href="javascript:;" class="btn btn-sm btn-primary rd">使用此场景</a>
										<a href="javascript:;" class="btn btn-sm btn-primary rd">发布</a>

									</td>

								</tr>

							</tbody>

						</table>

					</div>
					<div class="scroll-slide">
						<div class="scroll-bar"></div>
					</div>
					</div>
					
				<div class="pattern-submit">
					<button class="btn btn-sm  btn-primary  rd" type="button"> 发布基本模式</button>
				</div>

			</div>

			</div>

	

		<!--[if lte IE 9]>
			<script src="js/ie9.js" type="text/javascript" charset="utf-8"></script>
		<![endif]-->
		<script data-parent="umd" data-umd="pattern.init" src="./js/build.js" type="text/javascript" charset="utf-8"></script>

	</body>

</html>